
    <% if(success_msg!= '') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong><%= success_msg %></strong> 
        </div>
        <% } %>
  
        <% if(error_msg != '') { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>ERROR!</strong> <%= error_msg %>
          </div>
        <% } %> 
    
        <% if(error != '') { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>ERROR!</strong> <%= error %>
          </div>
        <% } %> 